<div class='container'>
                <div class='col-lg-3'>
                   <div class="ih-item circle effect1"><a href="#">
                    <div class="spinner"></div>
                        <div class="img"><img src="./imgs/ropa.jpg" alt="img"></div>
                        <div class="info">
                          <div class="info-back myimg">
                            <h3>Heading here</h3>
                            <p>Description goes here</p>
                          </div>
                        </div></a>
                    </div>
                    <br>
                     <input type="file" id="exampleInputFile">
                </div>
                <div class='col-lg-6'>
                    <select name="itemCategory" class="form-control">
                      <option val="0">Category</option>
                      <option val="1">Audio</option>
                      <option val="2">Antiques</option>
                      <option val="3">Art</option>
                      <option val="4">Cameras & Photo</option>
                      <option val="5">Cellphone & Accesories</option>
                      <option val="6">Clothes</option>
                      <option val="7">Computers</option>
                      <option val="8">Cars</option>
                      <option val="9">Jewerly & Watches</option>
                      <option val="10">Music</option>
                    </select>
                    <br>
                    <input type="text" class="form-control" name="itemName" placeholder="Item Name">
                    <br>
                    <textarea class="form-control" rows="3" name="descriptionItem" placeholder="Item Description"></textarea>
                    <br>
                    <div class="form-group">
                        <label class="sr-only" for="exampleInputAmount">Starting Amount (in dollars)</label>
                        <div class="input-group">
                          <div class="input-group-addon">$</div>
                          <input type="text" class="form-control" id="exampleInputAmount" name="itemAmount" placeholder="Starting Amount Example: 50.00">
                        </div>
                    </div>
                    
                </div>
                <div class='col-lg-2'>
                    
                    
                    <button id="post" class="btn bidView" ><strong><center>&nbsp&nbsp&nbspPOST&nbsp&nbsp&nbsp</center></strong></button>
                </div>
            </div>
        <a id="back-to-top" href="#" class="btn btn-primary btn-lg back-to-top" role="button" title="Click to return on the top page" data-toggle="tooltip" data-placement="left"><span class="glyphicon glyphicon-chevron-up"></span></a>
        <hr>
        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; Arveres 2015</p>
                </div>
            </div>
        </footer>
    </div>
   