    <div class="container">
        <div class="scroll-top-wrapper ">
	<span class="scroll-top-inner">
		<i class="fa fa-2x fa-arrow-circle-up"></i>
	</span>
</div>
        <!-- Jumbotron Header -->
         <div class="myheader" style='background-image: url("./imgs/header.jpg")'>
            <br><br><br><br><br><br><br><br>
            <div class='col-lg-1'></div>
            <button class="btn btn-large shop"><strong>BID NOW!</strong></button>
            <br><br><br><br><br><br><br><br><br><br>
        </div>
        <hr>
        <!-- Title -->
        <div class="container no-gutters">
            <div class='col-lg-1'></div>
                <div class='col-lg-4'>
                    <div class="ih-item square effect4"><a href="#">
                        <div class="img"><img class="img-responsive" src="./imgs/car.jpg" alt="img"></div>
                        <div class="mask1"></div>
                        <div class="mask2"></div>
                        <div class="info">
                          <h3>Heading here</h3>
                         <p>Description goes here</p>
                        </div></a>
                    </div>   
                    <div class='col-lg-15'>
                        <div class="ih-item square effect4"><a href="#">
                            <div class="img"><img class="img-responsive" src="./imgs/car1.jpg" alt="img"></div>
                            <div class="mask1"></div>
                            <div class="mask2"></div>
                            <div class="info">
                                <h3>Heading here</h3>
                                 <p>Description goes here</p>
                            </div></a>
                        </div>   
                        <h4>Collector's car</h4>
                        <p>This awesome collector's car is in perfect shape, take it home today by bidding NOW</p>
                    </div>
                </div>
            <div class='col-lg-6 pushser'>
               <div class="ih-item square effect4"><a href="#">
                        <div><img class="img-responsive " src="./imgs/car2.jpg" alt="img"></div>
                        <div class="mask1"></div>
                        <div class="mask2"></div>
                        <div class="info">
                          <h3>Heading here</h3>
                         <p>Description goes here</p>
                        </div></a>
                    </div>   
            </div>
       </div>
       <hr>
       <div class="row no-gutters">
            <div class='col-lg-4'>
                <div class="ih-item square effect4"><a href="#">
                        <div class="img"><img class="img-responsive" src="./imgs/ropa.jpg" alt="img"></div>
                        <div class="mask1"></div>
                        <div class="mask2"></div>
                        <div class="info">
                          <h3>Heading here</h3>
                         <p>Description goes here</p>
                        </div></a>
                    </div>   
                <h4>Fashion</h4>
                    <p>Stay trendy and look for the most fashinable items!</p>
            </div>
            <div class='col-lg-1'>
                    <div class='col-lg-13'>
                        <img class="fill img-responsive" src="./imgs/ropa1.jpg" alt="">
                    </div>
                    <div class='col-lg-13'>
                        <img class="fill img-responsive" src="./imgs/ropa2.jpg" alt="">
                    </div>
                    <div class='col-lg-13'>
                        <img class="fill img-responsive" src="./imgs/ropa3.jpg" alt="">
                    </div>
                    <div class='col-lg-13'>
                        <img class="fill img-responsive" src="./imgs/ropa4.jpg" alt="">
                    </div>
                    <div class='col-lg-13'>
                        <img class="fill img-responsive" src="./imgs/ropa1.jpg" alt="">
                    </div>
                    
                    <div  id="bidnow" class='col-lg-13'>
                       <center><button class="btn btn-large shop"><strong>BID NOW!</strong></button> </center>
                    </div>
            </div>
            <div class='col-lg-1 pull-left'></div>
                <div class='col-lg-5'>
                   <div class="ih-item square effect4"><a href="#">
                            <div class="img"><img class="img-responsive" src="./imgs/bike.jpg" alt="img"></div>
                            <div class="mask1"></div>
                            <div class="mask2"></div>
                            <div class="info">
                              <h3>Heading here</h3>
                             <p>Description goes here</p>
                            </div></a>
                    </div>   
                    <br><h4>Motorcycle</h4>
                    <p>2014 HARLEY DAVIDSON STREET GLIDE FLHX ONLY 2K MILES CSR PIPES PERFECT FINANCING
                    RARE COLOR! BIG $ PIPES! MINT! LOW RATE FINANCING!!!!</p>
                </div>
       </div>
