<div class="container">
        <div class="scroll-top-wrapper ">
        	<span class="scroll-top-inner">
        		<i class="fa fa-2x fa-arrow-circle-up"></i>
	        </span>
        </div>
        <ul id= "myOptions">
                <li>My Auctions | </li>                    
                <li><a href='{{url.host}}{{url.auctions.create}}'>Create Auction </a>|</li>
               
        </ul>
        <hr>
            <div class='container'>
                <div class='col-lg-3'>
                   <div class="ih-item circle effect1"><a href="#">
                    <div class="spinner"></div>
                        <div class="img"><img src="./imgs/ropa.jpg" alt="img"></div>
                        <div class="info">
                          <div class="info-back myimg">
                            <h3>Heading here</h3>
                            <p>Description goes here</p>
                          </div>
                        </div></a><br>
                        <input class ='editable' type="file" id="inputFile"></div>
                </div>
                <div class='col-lg-6'>
                    <h2 class="pInfoN">Name</h2>
                    <h3 class="pInfoNs editableInfo">John Smith</h3>
                    <input type="text" class="form-control editable" placeholder="Name" aria-describedby="sizing-addon1">
                    <h2 class="pInfoB">Birthday</h2>
                    <h3 class="pInfoBs editableInfo">4/25/1988</h3>
                    <input type="text" class="form-control editable" placeholder="Birthday" aria-describedby="sizing-addon1">
                    <h2 class="pInfoE">E-mail</h2>
                    <h3 class="pInfoEs editableInfo">jsmith@gmail.com</h3>
                    <input type="text" class="form-control editable" placeholder="E-mail" aria-describedby="sizing-addon1">
                    <h2 class="pInfoT">Telephone</h2>
                    <h3 class="pInfoTs editableInfo">229-469-5897</h3>
                    <input type="text" class="form-control editable" placeholder="Telephone" aria-describedby="sizing-addon1">
                    <h2 class="pInfoA ">Address</h2>
                    <h3 class="pInfoAs editableInfo">125 west Cranford ave</h3>
                    <input type="text" class="form-control editable" placeholder="Address" aria-describedby="sizing-addon1">
                </div>
                <div class='col-lg-2'>
                    
                    
                    <button id="edit" class="btn bidView" ><strong><center>&nbsp&nbsp&nbspEDIT&nbsp&nbsp&nbsp</center></strong></button>
                    <br><br>
                    <button id="saveName" class="btn editable"><strong><center>&nbsp&nbsp&nbspSAVE&nbsp&nbsp&nbsp</center></strong></button>
                    <br><br><br><br>
                    <button id="saveBday" class="btn editable" ><strong><center>&nbsp&nbsp&nbspSAVE&nbsp&nbsp&nbsp</center></strong></button>
                    <br><br><br><br>
                    <button id="saveEmail" class="btn editable" ><strong><center>&nbsp&nbsp&nbspSAVE&nbsp&nbsp&nbsp</center></strong></button>
                    <br><br><br><br>
                    <button id="saveTel" class="btn editable" ><strong><center>&nbsp&nbsp&nbspSAVE&nbsp&nbsp&nbsp</center></strong></button>
                    <br><br><br><br>
                    <button id="saveAdd" class="btn editable" ><strong><center>&nbsp&nbsp&nbspSAVE&nbsp&nbsp&nbsp</center></strong></button>
                    
                    
                    

                </div>
            </div>
            