<div class="newOverlay">
        <div class="aView">
            <div class='col-lg-5'></div>
            <div class='col-lg-4'><h3 class='categoryLabel'>Categogry</h3></div>
            <span class="glyphicon glyphicon glyphicon-remove closeView"></span> 
           <div id="youlogin">
               <div class='container'>
                    <div class='col-lg-3'>
                       <div class="ih-item circle effect1"><a href="#">
                        <div class="spinner"></div>
                            <div class="img"><img src="./imgs/ropa.jpg" alt="img"></div>
                            <div class="info">
                              <div class="info-back myimg">
                                <h3>Heading here</h3>
                                <p>Description goes here</p>
                              </div>
                            </div></a></div>
                    </div>
                    <div class='col-lg-6'>
                        <h2>Item</h2>
                        <p>This is the example description for the item posted </p>
                    </div>
                    <div class='col-lg-2'>
                        <p class="price">$155.35</p>
                         <div class='timerLabel'><span id="time" class='timer'></span> minutes left</div>
                        <br><br>
                        <input type="text" class="form-control" placeholder="$00.00" aria-describedby="sizing-addon1"><br>
                        <button id="bidow" class="btn" ><strong>BID NOW</strong></button>
                        </div>
                </div>
           </div>
       </div>
    </div>
<div class='container'>
                <div class='col-lg-3'>
                   <div class="ih-item circlea effect1A"><a href="#">
                    <div class="spinner"></div>
                        <div class="img"><img src="./imgs/ropa.jpg" alt="img"></div>
                        <div class="info">
                          
                        </div></a>
                    </div>
                </div>
                <div class='col-lg-6'>
                    <h2>Item</h2>
                </div>
                <div class='col-lg-2'>
                    <br>
                    <strong><p class="status">&nbsp&nbsp&nbsp&nbspACTIVE</p></strong>
                    <button id="bidnow" class="btn bidView" ><strong><center>&nbsp&nbsp&nbspVIEW&nbsp&nbsp&nbsp</center></strong></button>
                </div>
                
</div>